.main {
    position: relative;
    top: 2.4rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    margin-top: 70px;
    background-color: var(--dark);
  }

.container{
  display: grid;
  grid-template-columns: 30vw auto;
  padding: 10px 15px;
  position: relative;
  /* padding: 10px; */
  column-gap: 2rem;
  background-color: #fff;
}

/* .Profile{
  background-color: var(--blue-dark);
  padding: 1rem;
  display: flex;
  column-gap: 1rem;
  width: 100%;
  justify-content: center;
} */

.sideLeftProfile{
  height: max-content;
  text-align: center;
  position: sticky;
  border-radius: 20px;
  border: 2px solid grey;
  color: black;
}

.sideLeftProfile .cardImage{
  border-radius: 100%;
}

.sideLeftProfile h2{
  text-align: left;
}


.sideLeftProfile h3{
  text-align: left;
  color: grey;
}

.button{
  padding: 13px;
  color: #fff;
  background-color: var(--blue);
  border-radius: 20px;
  font-weight: bold;
  font-size: 15px;
  border: none;
  transition: 1s;
}

.button:hover{
  background-color: var(--light);
  color: #080808;
}

.coursesProfile{
  border-radius: 20px;
  border: 2px solid grey;
  width: 100%;
  padding: 10px 8px;
  color: black;
}

