.wrapper {
  display: flex;
  padding: 30px;
}

/* COLUNA ESQUERDA */
.left {
  flex: 1;
  display: flex;           
  flex-direction: column;  
  align-items: center;     
  background: #eee;
  padding: 20px;
  border-right-style: ridge;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  text-align: center;
}


.sectionTitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.preview {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;    
  background: #ddd;
  display: block; 
}

.changeButton {
  margin-top: 15px;
  padding: 10px;
  background: #16425e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

/* COLUNA DIREITA */
.right {
  flex: 2;
  background: #eee;
  padding: 25px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px ;
}

.title {
  margin-bottom: 20px;
  font-size: 28px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.field {
  display: flex;
  flex-direction: column;
}

.input,
.textarea {
  padding: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  font-size: 15px;
}

.textarea {
  height: 120px;
  resize: none;
}

.button {
  margin-top: 10px;
  padding: 14px;
  background:#16425e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .wrapper {
    flex-direction: column;
  }
}
