.wrapper {
  display: flex;
  gap: 30px;
  padding: 30px;
}

/* COLUNA ESQUERDA */
.left {
  flex: 1;
  background: #f4f4f4;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
}

.sectionTitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.preview {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 12px;
  background: #ddd;
}

.changeButton {
  margin-top: 15px;
  padding: 10px;
  background: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

/* COLUNA DIREITA */
.right {
  flex: 2;
  background: #fff;
  padding: 25px;
  border-radius: 16px;
}

.title {
  margin-bottom: 20px;
  font-size: 28px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.field {
  display: flex;
  flex-direction: column;
}

.input,
.textarea {
  padding: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  font-size: 15px;
}

.textarea {
  height: 120px;
  resize: none;
}

.button {
  margin-top: 10px;
  padding: 14px;
  background: #22c55e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .wrapper {
    flex-direction: column;
  }
}
