@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.button{
  padding: 13px;
  color: #fff;
  background-color: var(--blue);
  border-radius: 20px;
  font-weight: bold;
  font-size: 15px;
  border: none;
  transition: 1s;
}

.button:hover{
  background-color: var(--light);
  color: #080808;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: var(--dark);
}

.inicio {
  background: linear-gradient(270deg, var(--dark-blue), var(--blue), var(--blue));
  background-size: 600% 600%;
  animation: gradient 15s ease infinite;
  /* animacao dos guri */
  /* background-image: url("/images/image.jpg");
  background-size: 200% 200%;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  animation: bgMove 20s linear infinite; */

  color: var(--light);
  width: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* dos guris */
/* @keyframes bgMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
} */

.heroContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  gap: 40px;
}

.heroLeft{
  flex: 1;
  min-width: 300px
}

.heroLeft h1 {
  font-size: 2.8rem;
  margin-bottom: 20px;
}

.heroLeft p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
  font-weight: 200;
}

.heroButton {
  background-color: var(--dark-blue);
  color: var(--light);
  border: none;
  padding: 14px 32px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
  margin-top: 6px;
}

.heroButton:hover {
  background-color: var(--light);
  color: var(--dark-blue);
}

.heroRight{
  width: 50%;
  display: block;
}

.heroImage{
  border-radius: 10px;
}

.sobre {
  text-align: center;
  background-color: var(--dark-blue);
  color: white;
  padding: 40px 20px;
  width: 100%;
  height: 80%;
}

.sobre h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.descricao {
  max-width: 800px;
  line-height: 1.6;
  margin-left: auto;
  margin-right: auto;
}

.cursosContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.cursosContainer .card {
  position: relative;
  background-color: var(--dark-blue);
  border-radius: 12px;
  overflow: hidden;
  width: 550px;
  height: 400px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  border: 2px solid white;
}

.card:hover{
  margin: 0;
  transition: 2s;
  /* box-shadow: 5px 5px 0px 10px var(--light); */
  box-shadow: var(--dark-blue) 5px 5px, var(--dark) 10px 10px, var(--blue) 15px 15px, var(--light-blue) 20px 20px ,var(--light) 25px 25px;
}

.tag {
  position: absolute;
  top: 12px;
  left: 20px;
  background: var(--light-blue);
  color: var(--dark-blue);
  font-weight: bold;
  padding: 6px 14px;
  border-radius: 30px;
  font-size: 0.9rem;
}

.card .cardImage {
  width: 100%;
  display: block;
}

.cardContent {
  padding: 20px;
  text-align: left;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.cardContent h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.verMais {
  display: inline-block;
  padding: 10px 0;
  color: var(--light-blue);
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.verMais:hover {
  text-decoration: underline;
}

.buttons {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.btn {
  border: 2px solid var(--light-blue);
  background: transparent;
  color: var(--light-blue);
  padding: 12px 28px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: var(--light-blue);
  color: var(--dark-blue);
}

.linkInstituicao {
  margin-top: 50px;
  font-size: 0.9rem;
  color: var(--light-blue);
}

.news {
  padding: 50px 20px;
  width: 100%;
  margin: 0 30px;
}

.news h1 {
  text-align: left;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: var(--light-blue);
}

.news .newsContent {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* mantendo mesma altura */
  width: 100%;
  gap: 23px;
  background-color: var(--dark-blue);
  border-radius: 12px;
  padding: 80px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.news .cardLeft {
  flex: 1;
  background-color: var(--dark);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 360px;
}

.news .cardLeft .cardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.news .cardLeft .descricao {
  padding: 14px;
  font-size: 0.95rem;
  color: #ddd;
  text-align: justify;
}

.news .cardRight {
  flex: 1;
  background-color: #0c1d2b;
  border-radius: 10px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 320px; 
}

.news .cardRight .list {
  flex: 1;
  overflow-y: auto;
  padding-right: 8px;
}

.news .cardRight .list::-webkit-scrollbar {
  width: 5px;
}
.news .cardRight .list::-webkit-scrollbar-thumb {
  background: var(--light-blue);
  border-radius: 8px;
}

.listNews {
  background-color: var(--dark-blue);
  padding: 10px 12px;
  border-radius: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s;
  cursor: pointer;
}

.listNews:hover {
  background-color: var(--blue);
}

.listNews h2 {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--light);
  margin: 0;
}

.listNews .dataEvento {
  font-size: 0.8rem;
  color: #a3b6c7;
}

.listNews .seta {
  font-size: 1rem;
  color: var(--light-blue);
}

.news .botaoEventos {
  margin-top: 10px;
  background-color: var(--light-blue);
  color: var(--dark-blue);
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  align-self: flex-end;
  font-size: 0.9rem;
}

.news .botaoEventos:hover {
  background-color: var(--blue);
  color: var(--light);
}

/* PROFESSORES */
.teachers {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 60px 100px;
  background-color: var(--dark-blue);
  color: var(--light);
  width: 100%;
}

.teachers h2 {
  font-size: 2.8rem;
  line-height: 1.2;
  flex: 1;
  text-align: left;
}

.carouselContainer {
  display: flex;
  align-items: center;
  position: relative;
  flex: 2;
}

.carousel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px;
  background: linear-gradient(to right, rgba(255,255,255,0.1), rgba(255,255,255,0));
  border-radius: 30px;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.teacherCard {
  flex: 0 0 auto;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  transition: transform 0.3s;
}

.teacherCard:hover {
  transform: scale(1.1);
}

.teacherImage {
  border-radius: 50%;
  object-fit: cover;
}

.arrow {
  background: rgba(255,255,255,0.2);
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background 0.3s;
}

.arrow:hover {
  background: rgba(255,255,255,0.4);
}

.carousel-item img {
  filter: grayscale(20%);
}

.carousel-item.active img {
  filter: none;
}

.portal{
  width: 100%;
  background-color: #0c3c57;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
}

.portal .containerPortal{
  width: 100%;
  text-align: center;
  color: #fff;
}

.portal .containerPortal h1{
  font-size: 34px;
  font-weight: 700;
  color: #fff;
}

.portal .containerPortal p{
  max-width: 500px;
  margin:  auto 40px auto;
  font-size: 16px;
  line-height: 1.6;
  margin-left: auto;
  margin-right: auto;
}

.cardsWrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.cardsWrapper .card{
  background: transparent;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 8px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23%;
  cursor: default;
  transition: 0.3s;
}

.cardsWrapper .card:hover{
  background: rgba(255, 255, 255, 0.1);
}

.cardsWrapper .cardContent{
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #0c3c57;
  box-shadow: none;
}

.cardsWrapper .cardContent span{
  font-size: 17px;
  font-weight: 500;
}

/* Responsividade */
@media (max-width: 900px) {
  .heroContent {
    flex-direction: column-reverse;
    text-align: center;
  }

  .heroLeft h1 {
    font-size: 2.2rem;
  }

  .heroLeft p {
    font-size: 1rem;
    margin: 0 auto 25px;
  }

  .heroButton {
    padding: 12px 28px;
  }

  .button {
    padding: 10px 24px;
  }
}