.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(/icons/fundo.png);
  background-size: 150%;
  animation: gradient 50s ease-in-out infinite;
}

.loginPage * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 900px;
  height: 600px;
  background: #ffffff;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(181, 217, 204, 0.5);
  transition: 1s ease-in-out;
  margin: 20px;
}


/* FORM BOX */
.formBox {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #16425e;
  padding: 20px;
  z-index: 1;
  transition: 0.6s ease-in-out 1.2s, visibility 0s 1s;
}

.container.active .formBox {
  right: 50%;
}

.formBox.register {
  visibility: hidden;
}

.container.active .formBox.register {
  visibility: visible;
}


/* INPUTS */
.inputBox {
    display: flex;
      align-items: center;
  position: relative;
  margin: 30px 0;
  width: 100%;
}

.inputBox input {
  width: 100%;
  padding: 13px 80px 13px 20px; /* espaço para dois ícones */
  background: #eee;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.inputBox select {
  width: 100%;
  padding: 13px 50px 13px 20px;
  background: #eee;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  color: #646464;
} 

.inputBox input::placeholder {
  color: #888;
}

.icon {
  position: static;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #666;
  opacity: 30%;
  height: 30px;
  margin-left: 5px;
}

.iconGroup {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 10px;
  align-items: center;
}

.forgotLink {
  margin: -15px 0 15px;
}

.forgotLink a {
  font-size: 14.5px;
  color: #ffffff;
}

select :disabled {
  color: #eeeeee;
}

/* BUTTONS */
.btn {
  width: 100%;
  height: 48px;
  background: #16425e;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  transition: background 0.3s;
}

.btn:hover {
  background: #2e616d;
}

.btnOutiline {
  width: 100%;
  height: 48px;
  background: transparent;
  border-radius: 8px;
  border: 2px solid #fff;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  transition: background 0.3s, color 0.3s;
}


/* TOGGLE AREA */
.toggleBox {
  position: absolute;
  width: 100%;
  height: 100%;
}

.toggleBox::before {
  content: "";
  position: absolute;
  left: -250%;
  width: 300%;
  height: 100%;
  background: #16425e;
  border-radius: 155px;
  z-index: 2;
  transition: 1.8s ease-in-out;
}

.container.active .toggleBox::before {
  left: 50%;
}

.togglePanel {
  position: absolute;
  width: 50%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: 0.6s ease-in-out;
  text-align: center;
  padding: 55px;
  gap: 10px;
}

.toggleLeft {
  left: 0;
  transition-delay: 1.2s;
}

.container.active .toggleLeft {
  left: -50%;
  transition-delay: 0.6s;
}

.toggleRight {
  right: -50%;
  transition-delay: 0.6s;
}

.container.active .toggleRight {
  right: 0;
  transition-delay: 1.2s;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 768px) {
  .container {
    height: calc(100vh - 80px);
  }

  .formBox{
    bottom: 0;
    width: 100%;
    height: 70%;
  }

  .container.active .formBox {
    right: 0;
    bottom: 30%;
  }

  .toggleBox::before{
    left: 0;
    top: -270%;
    width: 100%;
    height: 300%; 
    border-radius: 15vw;
  }

  .container.active .toggleBox::before {
    left: 0;
    top: 70%;
    
  }

  .togglePanel {
    width: 100%;
    height: 30%;
  }
  
  .togglePanel.toggleLeft {
    top: 0;
  }

  .container.active .togglePanel.toggleLeft {
    left: 0;
    top: -30%;
  }

  .togglePanel.toggleRight {
    right: 0;
    bottom: -30%;
  }

  .container.active .togglePanel.toggleRight {
    bottom: 0;
  } 

 .inputBox {
  position: relative;
  margin: 20px 0;
  width: 100%;
}
}

/* ANIMAÇÕES */

@keyframes gradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

