:root {
  --dark-blue: #16425e;
  --blue: #3f8798;
  --light-blue: #b6d9cc;
  --green: #6c9d41;
  --dark-green: #3a6b2f;
  --dark: #333334;
  --light: #f8fceb;
  --font-title: var(--font-poppins);
  --font-text: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, .titulo {
  font-family: var(--font-title);
}

p, span, li, a {
  font-family: var(--font-text);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}